// Choose Date View
@mixin use-flex() {
  display: flex;
}

.user-choose-date-view {
  @include use-flex();
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.calendar {
  background: $Overlook-Hotel-favorite-1-hsla;
  color: white;
}
