@import '_variables';
@import '_login-view';
@import '_guest-home-view';
@import '_choose-date-view';
@import '_book-room-view';
@import '_manager-home-view';

/*
vh
vw
take percentage of alloted pixels on the sreen
50vw is half of the screen

rem vs em
em is based off parent font size
rem is based off of head font size (based more off the whole page)
*/

@mixin rounded-corners($radius) {
  border-radius: $radius;
}

@mixin use-flex() {
  display: flex;
}

html {
  margin: 0;
  background: $Overlook-Hotel-favorite-3-hsla;
  font-family: 'Ubuntu', sans-serif;
}

header {
  position: relative;
  background: $Overlook-Hotel-favorite-1-hsla;
  color: $Overlook-Hotel-favorite-3-hsla;
  @include use-flex();
  justify-content: space-between;
  padding-left: 1em;
  margin: 0;

}

.header-and-welcome {
  font-size: 2.2em;
}

.welcome {
  font-size: 1.2em;
}

nav {
  @include use-flex();
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-buttons-section {
  @include use-flex();
  flex-wrap: wrap;
}

.nav-button {
  background: $Overlook-Hotel-favorite-4a-hsla;
  color: $Overlook-Hotel-favorite-3-hsla;
  margin: 0 0.8em 0.5em 1em;
  width: 11em;
  height: 2.4em;
  @include rounded-corners(0.5em);
}

.snake-house-image {
  height: 9em;
  width: auto;
  overflow: hidden;
}

body {
  color: $primary-main-font-color;
}

.heading {
  font-size: xx-large;
  color: $Overlook-Hotel-favorite-4-hsla;
}

.image {
  @include use-flex();
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}
