
/*
vh
vw
take percentage of alloted pixels on the sreen
50vw is half of the screen

rem vs em
em is based off parent font size
rem is based off of head font size (based more off the whole page)
*/
/* This is an example of using Sass, otherwise plain CSS works too*/

/* Color Theme Swatches in HSLA */
$Overlook-Hotel-favorite-1-hsla: hsla(15, 100, 30, 1);
$Overlook-Hotel-favorite-2-hsla: hsla(12, 100, 58, 1);
$Overlook-Hotel-favorite-3-hsla: hsla(37, 65, 90, 1);
$Overlook-Hotel-favorite-4-hsla: hsla(175, 100, 25, 1);
$Overlook-Hotel-favorite-4a-hsla: hsla(175, 100, 15, 1);
$Overlook-Hotel-favorite-5-hsla: hsla(175, 100, 46, 1);

/* Color Theme Swatches in HSLA */
$Overlook-Hotel-2-1-hsla: hsla(16, 96, 23, 1);
$Overlook-Hotel-2-2-hsla: hsla(16, 91, 63, 1);
$Overlook-Hotel-2-3-hsla: hsla(16, 96, 49, 1);
$Overlook-Hotel-2-4-hsla: hsla(15, 50, 30, 1);
$Overlook-Hotel-2-5-hsla: hsla(15, 95, 38, 1);

$primary-background: radial-gradient(circle,  hsla(37, 65, 82, 1) 0%, hsla(15, 50, 30, 1) 100%);
// $primary-background: radial-gradient(circle, hsla(167, 65, 46, 1)0%, hsla(184, 87, 83, 1) 100%);

$primary-main-font-color: $Overlook-Hotel-favorite-3-hsla;

html {
  // background: $primary-background;
  margin: 0;
  background: $Overlook-Hotel-favorite-3-hsla;
  font-family: 'Ubuntu', sans-serif;
}

header {
  position: relative;
  background: $Overlook-Hotel-favorite-1-hsla;
  color: $Overlook-Hotel-favorite-3-hsla;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  margin: 0;
}

.header-and-welcome {
  font-size: 2.2em;
}

.welcome {
  font-size: 1.2em;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-buttons-section {
  display: flex;
  flex-wrap: wrap;
}

.nav-button {
  background: $Overlook-Hotel-favorite-4a-hsla;
  color: $Overlook-Hotel-favorite-3-hsla;
  border-radius: 0.5em;
  margin: 0 0.8em 0.5em 1em;
  width: 11em;
  height: 2.4em;
}

.snake-house-image {
  height: 9em;
  width: auto;
  overflow: hidden;
}

body {
  color: $primary-main-font-color;
}

.heading {
  font-size: xx-large;
  color: $Overlook-Hotel-favorite-4-hsla;
}
// Login View
.login-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login {
  margin: 5em;
}

.labels {
  color: $Overlook-Hotel-2-1-hsla;
}

.input {
  margin-bottom: 2em;  
  border-radius: 0.5em;
  height: 1.5em;
  background: $Overlook-Hotel-2-5-hsla; // probably need to adjust this color for accessibility
  color: $Overlook-Hotel-favorite-3-hsla;
}

.submit {
  margin: 2em;
  // padding: .5em 2em .5em 2em;
  background:$Overlook-Hotel-favorite-4a-hsla;
  color: $Overlook-Hotel-favorite-3-hsla;
  border-radius: 0.5em;
  margin: 0 0.8em 0.5em 1em;
  width: 15em;
  height: 3em;
}

// User Home View

.user-home-view {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.user-total-spent {
  color: $Overlook-Hotel-favorite-4-hsla;
}

.your-previous-bookings {
  font-size: large;
  color: $Overlook-Hotel-favorite-4-hsla;
}

// Choose Date View

.user-choose-date-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


// Book Room View

.user-book-room-view {
  text-align: center;
  display: flex;
  flex-direction: column;
}

// .return-button {
//   width: 95%;
//   display: flex;
//   justify-content: flex-end;
// }

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em 2em 2em;
}

.booking-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.back-to-choose-date-button {
  position: absolute;
  justify-self: flex-start;
  background: $Overlook-Hotel-favorite-4a-hsla;
  height: 3em;
  width: 9em;
  margin: 2em 2em 2em 40vw
}

.filter-section {
  width: 100%;
  display: flex;
  justify-content: center;

}

.button {
  color: $Overlook-Hotel-favorite-3-hsla;
  border-radius: 0.5em;
}

label {
  color: $Overlook-Hotel-favorite-1-hsla;
}

.choose-by-type {
  background: $Overlook-Hotel-favorite-1-hsla;
  width: fit-content;
  height: 1.7em;
  margin: 0 0 0 1em;
}

.cards-of-rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-around;
  text-align: center;
}

.room {
  border: $Overlook-Hotel-favorite-4-hsla solid .6em;
  border-radius: 1em;
  font-weight: bold;
  margin: 2vw;
  // max-width: 25vw;
  min-width: 25vw;
}

.room-image {
  border-radius: 0.6em;
  height: 16em;
  width: auto;
  margin-top: 0em;
  min-width: 25vw;
}

.room-details {
  color: $Overlook-Hotel-2-4-hsla;
}

.small-room-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: .1em;
}

.small-details {
  margin: .1em;
}

.cost {
  font-size: x-large;
  font-weight: bolder;
}

// Room Booked!

.room-booked-view {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Manager Home View

.manager-view {
  // background: white;
  // color: black;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.heading2 {
  font-size: large;
  color: $Overlook-Hotel-favorite-1-hsla;;
}

.all-hotel-info {
  width: 45vw;
}

.list-rooms-available {
  display: flex;
  flex-direction: column;
}

.center-bar {
  width: 5vw;
}

.specific-guest-info {
  width: 45vw;
}

.disable-style {
  background: $Overlook-Hotel-favorite-5-hsla;
  color: $Overlook-Hotel-2-1-hsla;
}

.hidden {
  display: none;
}
